/**
 * Hypertext CSS for HTML Documents v1.0
 *
 * MIT License
 * Russell Beattie russ@russellbeattie.com
 * 
 * https://hypertext.plus/html-document-v1.css
 * 
 */

:root {
  --font-family: system-ui;
  --page-color: #fff;
  --text-color: #111;
  --title-color: #2e4057;
  --heading-color: #000;
  --link-color: inherit;
  --inline-border-color: #ccc;
  --inline-highlight-color: #000;
  --highlight-color: #fafafa;
  --page-font-size: 15px;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 1rem;
}

html {
  font-size: var(--page-font-size);
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  background-color: var(--page-color);
  color: var(--text-color);
  font-family: var(--font-family);
  max-width: 816px !important;
  padding: 1rem 2rem 2rem;
  margin: 1rem auto;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 300;
  margin: 1rem 0 2rem;
  line-height: 1;
  color: var(--title-color);
}

h2 {
  font-size: var(--h2-font-size);
  margin-top: 2rem;
  color: var(--heading-color);
  border-bottom: 1px solid var(--inline-border-color);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
  font-style: italic;
}

h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: 1rem;
}

h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
  color: var(--heading-color);
}

p,
dl {
  margin: 1rem 0;
}

ol,
ul {
  margin: 1rem 2rem;
  padding: 0;
}

li,
dd {
  margin: 0.5rem 1rem;
}

li > p,
dl > p,
dd > p {
  margin: 0;
}

li > ol {
  margin-bottom: 2rem;
}

dt {
  margin-top: 1rem;
  font-weight: bold;
}

mark {
  padding: 0.25rem;
}

time {
  font-weight: bold;
  background-color: #fff8dc;
  padding: 0.5rem;
}

code {
  padding: 0.25rem;
  color: var(--inline-highlight-color);
  background-color: var(--highlight-color);
}

pre code {
  display: block;
  color: var(--text-color);
  background-color: var(--highlight-color);
  padding: 1rem;
  margin: 1rem;
  white-space: pre-wrap;
  tab-size: 2;
  border: 1px solid var(--inline-border-color);
  line-height: 1.25;
}

blockquote {
  margin: 1rem;
  border-left: 2px solid var(--inline-border-color);
  background-color: var(--highlight-color);
  padding: 1pt 1rem;
}

blockquote h2,
blockquote h3,
blockquote h4 {
  margin-top: 1rem;
}

hr {
  border-style: none none solid none;
  border-color: var(--inline-border-color);
}

video,
iframe {
  aspect-ratio: 16/9;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--inline-border-color);
  margin: 1.5rem 1rem;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

table thead {
  background-color: var(--highlight-color);
}

table thead td {
  color: var(--table-head);
}

table td {
  padding: 0.5rem 1rem;
  border: 1px solid var(--inline-border-color);
}

details {
  background-color: var(--highlight-color);
  padding: 1rem;
}

summary {
  cursor: pointer;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--inline-border-color);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: none;
}

/* Convenience classes */

.hidden {
  display: none;
}

body[contenteditable] .hidden {
  display: initial;
  outline: 1px dashed #ccc;
}

.left {
  text-align: initial;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.full {
  text-align: justify;
}

#table-of-contents a {
  text-decoration: none;
  border: none;
}
.toc-level-1 {
  font-weight: bold;
  padding-left: 1ch;
  margin-top: 0.5rem;
}
.toc-level-2 {
  font-weight: bold;
  padding-left: 2ch;
}
.toc-level-3 {
  padding-left: 3ch;
}
.toc-level-4 {
  padding-left: 4ch;
}
.toc-level-5 {
  padding-left: 5ch;
}
.toc-level-6 {
  padding-left: 6ch;
}

