/*
 Hypertext HTML Document CSS v1.0
 https://hypertext.plus/html-document-v1.css
 Copyright 2022 Russell Beattie
 MIT-License
*/

:root {

  --page-color: #fff;

  --page-font-color: #111;
  --page-font: system-ui;
  --page-font-size: 15px;

  --h1-color: #000;
  --h1-font: system-ui;
  --h1-font-size: 2rem;

  --heading-color: #333;
  --heading-font: system-ui;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: 1rem;

  --link-color: #000888;
  --dark-text-color: #000;
  --line-color: #ccc;
  --block-color: #fafafa;

}

html {
  box-sizing: border-box;
  font-size: var(--page-font-size) !important;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  overflow-wrap: break-word;
  background-color: var(--page-color) !important;
  color: var(--page-font-color) !important;
  font-family: var(--page-font) !important;
  max-width: 816px !important;
  padding: 1rem 2rem 2rem !important;
  margin: 1rem auto !important;
  line-height: 1.5;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

h1 {
  color: var(--h1-color);
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
  font-weight: 300;
  margin: 1rem 0 2rem;
  line-height: 1.2;
}

h1 a {
  color: var(--h1-color);
}

h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: var(--h2-font-size);
  margin: 2rem 0 1rem;
  line-height: 1.2;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 0.5rem;
}

h3 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: var(--h3-font-size);
  margin: 2rem 0 1rem;
  line-height: 1.25;
}

h4 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: var(--h4-font-size);
  margin: 2rem 0 1rem;
  line-height: 1.4;
}

h5 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: var(--h5-font-size);
  margin: 2rem 0 1rem;
  line-height: 1.5;
  font-style: italic;
}

h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: 1rem;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--heading-color);
}

p,
dl {
  margin: 1rem 0;
}

ol,
ul {
  margin: 1rem 2rem;
  padding: 0;
}

li,
dd {
  margin: 0.5rem 1rem;
}

li > p,
dl > p,
dd > p {
  margin: 0;
}

li > ol {
  margin-bottom: 2rem;
}

dt {
  margin-top: 1rem;
  font-weight: bold;
}

mark {
  padding: 0.25rem;
}

time {
  font-weight: bold;
  background-color: #fff8dc;
  padding: 0.5rem;
}

code {
  padding: 0.25rem;
  color: var(--dark-text-color);
  background-color: var(--block-color);
}

pre > code {
  display: block;
  background-color: var(--block-color) !important;
  padding: 1rem;
  margin: 2rem 0 !important;
  white-space: pre-wrap;
  tab-size: 2;
  border: 1px solid var(--line-color);
  line-height: 1.25;
}

blockquote {
  margin: 2rem;
  border-left: 2px solid var(--line-color);
  background-color: var(--block-color);
  padding: 1pt 1rem;
}

blockquote h2,
blockquote h3,
blockquote h4 {
  margin-top: 1rem;
}

hr {
  border-style: none none solid none;
  border-color: var(--line-color);
}

video,
iframe {
  aspect-ratio: 16/9;
  display: block;
  margin: auto;
}

img, iframe, video {
  max-width: 100%;
  max-width: -webkit-fill-available;
}

figure {
  text-align: center;
  margin: 2rem 1rem;
  padding: 0.5rem 0.5rem 1.5rem;
  border: 1px solid var(--line-color);
}

figcaption {
  font-style: italic;
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--line-color);
  margin: 1.5rem 1rem;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

table thead {
  background-color: var(--block-color);
}

table thead td {
  color: var(--table-head);
}

table tr:nth-child(2n) {
  background-color: var(--block-color);
}

table td {
  padding: 0.5rem 1rem;
  border: 1px solid var(--line-color);
}

details {
  background-color: var(--block-color);
  padding: 1rem;
}

details a {
  color: initial;
}

summary {
  cursor: pointer;
}

